{% macro render_banner(page) %}
<!-- Banner -->
<section id="banner" class="{{ page.title|striptags|lower }}">

  <!--
    ".inner" is set up as an inline-block so it automatically expands
    in both directions to fit whatever's inside it. This means it won't
    automatically wrap lines, so be sure to use line breaks where
    appropriate (<br />).
  -->
  <div class="inner">

    <header>
      <h2>{{ page.title|striptags }}</h2>
    </header>
    <p> This is a Banner. We can make it different for every page.</p>
    <!-- <footer>
      <ul class="buttons vertical">
        <li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
      </ul>
    </footer> -->

  </div>

</section>
{% endmacro %}
