{% macro generate_nav_menu() %}
<ul>
  <!-- {% if DISPLAY_PAGES_ON_MENU %} -->
  {% for page in PAGES|rejectattr("no_nav") %}
  <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
  {% endfor %}
  <!-- {% endif %} -->
  {% for title, link in MENUITEMS %}
  <li><a href="{{ link }}">{{ title }}</a></li>
  {% endfor %}
  <li>
    <a href="{{ SITEURL }}/blog.html">Blog</a>
  </li>
</ul>

{% endmacro %}
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link  href="https://fonts.googleapis.com/css?family=Lato:300,400,900,400italic,300italic" rel="stylesheet" type="text/css" >
  <!-- Using Pelican's webassets plugin to compile CSS -->
  {% assets filters="cssutils", output="css/style.min.css",
  "css/pygment.css",
  "css/skel.css",
  "css/style.css",
  "css/style-noscript.css",
  "css/sol-site-custom.css" %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
  {% endassets %}
  <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="/css/ie/v9.css" /><![endif]-->
  {% if FEED_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }}-Feed" />
  {% endif %}

  {% block head %}
  <title>{% block title %}{{ SITENAME }} {{ TAGLINE }}{% endblock title %}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width">
  {% endblock head %}
</head>

<body class="loading">

  <!-- Header -->
  {% block header %}
  <header id="header" class="default">
    {% endblock %}
    <h1 class="logo">
      <a href="{{ SITEURL }}">{{ SITENAME }}</a>
    </h1>
    <div id="navigation">
      {% set menu_list = generate_nav_menu() %}
      <nav id="nav">
        {{ menu_list }}
      </nav>
      <nav id="mobile-nav">
        <div class="icon">
          <i class="fa fa-bars fa-2x"></i>
        </div>
        <div id="menu">
          {{ menu_list }}
        </div>
      </nav>
    </div>
  </header>

  {% block banner %}
  {% endblock %}

  {% block main %}
  <article id="main" class="default">
    {% block content %}{% endblock %}
  </article>
  {% endblock %}

  {% block additional_content %}
  {% endblock %}

  <!-- Footer -->

  {% block footer %}
  <footer id="footer" class="default">
    {% endblock %}

    <span class="copyright">
      &copy 2016 Sol Lago.
      Theme by Ilia Kurenkov based on <a href="https://html5up.net/twenty">Twenty</a>.
    </span>

  </footer>
  <!-- As recommended by YSlow, JS placed at the end of page -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
  <!-- Using pelican webassets plugin to compile JS -->
  {% assets filters="jsmin", output="js/packed.js",
  "js/jquery.min.js",
  "js/jquery.dropotron.min.js",
  "js/skel.min.js",
  "js/skel-layers.min.js",
  "js/init.js",
  "js/sol_site.js" %}
    <script src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
  {% endassets %}
</body>
</html>
