{% extends "base.html" %}

{% block title %}{{ category|striptags }} | {{ super() }}{% endblock title %}

{% block content %}
<!-- Main -->
<article id="main">

  <header class="special container">
    <!-- add page sub title here -->
    <p>Here you will find information on the most recent experiments.</p>
  </header>

    <!-- One -->
    <section class="wrapper style4 container">

        <div class="row oneandahalf">
            <div class="content">
            {% for article in articles %}
                <section>
                    <header>
                        <a href="{{ SITEURL }}/{{ article.url }}"><h3>{{ article.title }}</h3></a>
                    </header>
                    <p>{{ article.summary|striptags }}</p>
                </section>
            {% endfor %}
            </div>
        </div>
    </section>

</article>
{% endblock content %}
