{% extends "base.html" %}

{% block title %}{{ category|striptags }} | {{ super() }}{% endblock title %}

{% block content %}
    <!-- Main -->
    <article id="main">
        <section class="wrapper style4 container">
            <div class="row oneandahalf">
                <div class="content 8u">
                    {% set active_article = articles|last %}
                    <section>
                        <header>
                            <a href="{{ SITEURL }}/{{ active_article.url }}"><h3>{{ active_article.title }}</h3></a>
                        </header>
                        <p>{{ active_article.content }}</p>
                    </section>
                </div>
                <div class="4u">
                    <header>
                        <h3>Other Recent {{ category }}</h3>
                    </header>
                    {% include 'sidebar.html' %}
                </div>
            </div>
        </section>

    </article>
{% endblock content %}
