{% extends "base.html" %}
{% from 'utils.html' import render_personal, render_articles %}

{% block title %}{{ page.title|striptags }} | {{ super() }}{% endblock title %}


{% block header %}
  <header id="header" class="home">
{% endblock %}

{% block content %}
<!-- Main -->
<article id="main" class="home">

  <section class="wrapper style1 container">
    <div class="row">
      <div class="3u personal-info justified-text">
        {{ render_personal(page.contact_info) }}
      </div>

    <!-- Content -->
      <div class="content 9u">
        <section class="about-text">
          {{ page.content }}
        </section>
      </div>
    </div>

  </section>
</article>

<article id="recent-stuff">
  {% set articles_by_categories = dict(categories) %}
  {% set news = articles_by_categories['news'] %}
  {% set experiments = articles_by_categories['experiments'] %}
  <section class="wrapper style1 container special">
    <div class="row">
      <div class="6u">
        {{ render_articles("News", news) }}
      </div>
      <div class="6u">
        {{ render_articles("Recent Experiments", experiments) }}
        <footer class="button-block">
            <div class="special">
              <a href="{{ SITEURL }}/category/experiments" class="button small">Read More</a>
            </div>
          </footer>
      </div>
    </div>
  </section>

</article>

{% endblock content %}

{% block footer %}
  <footer id="footer" class="home}">
{% endblock %}
