{% extends "base.html" %}
{% from 'banner.html' import render_banner %}

{% block title %}{{ page.title|striptags }} | {{ super() }}{% endblock title %}

{% block content %}

{{ render_banner(page) }}

<!-- Main -->
<article id="main" class="after-banner">

  <!-- One -->
  <section class="wrapper style4 container">

    <!-- Content -->
      <div class="content">
        <section>
          {{ page.content }}
        </section>
      </div>

  </section>

  <!-- Two -->
  </article>
{% endblock content %}
