    <!-- Sidebar -->
    <div class="sidebar">
        <!--
        Only looping over articles in this category in descending order.
        Moreover, also ignoring the latest article since it will already
        be shown in the left 2/3s of the screen.
        -->
        {% for article in articles[:-1]|reverse %}
            <section>
                <header>
                    <a href="/{{ article.url }}">
                        <h4>{{ article.title }}</h4>
                    </a>
                </header>
        {% endfor %}
    </div>
